<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importerExporterPropertyExtension" name="Importer/Exporter property" schema="schema/importerExporterPropertyExtension.exsd"/>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-batch">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-jobflow">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-flowpart">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-importDiagram">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-batch">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-jobflow">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-flowpart">
         </newWizardShortcut>
         <newWizardShortcut
               id="jp.hishidama.toadEditor.wizard.new-importDiagram">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="jp.hishidama.toadEditor.newWizard"
         name="Asakusa Toad Editor New Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="jp.hishidama.toadEditor.category.new-wizard"
            name="Asakusa Toad Editor">
      </category>
      <wizard
            category="jp.hishidama.toadEditor.category.new-wizard"
            class="jp.hishidama.eclipse_plugin.toad.wizard.newdiagram.NewBatchWizard"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor.wizard.new-batch"
            name="バッチダイアグラム">
         <description>
            バッチダイアグラム（Batch DSLのtoadファイル）を作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.toadEditor.category.new-wizard"
            class="jp.hishidama.eclipse_plugin.toad.wizard.newdiagram.NewJobflowWizard"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor.wizard.new-jobflow"
            name="ジョブフローダイアグラム">
         <description>
            ジョブフローダイアグラム（Flow DSL（JobFlow）のtoadファイル）を作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.toadEditor.category.new-wizard"
            class="jp.hishidama.eclipse_plugin.toad.wizard.newdiagram.NewFlowpartWizard"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor.wizard.new-flowpart"
            name="フロー演算子ダイアグラム">
         <description>
            フロー演算子ダイアグラム（Flow DSL（FlowPart）のtoadファイル）を作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.toadEditor.category.new-wizard"
            class="jp.hishidama.eclipse_plugin.toad.wizard.newdiagram.ReverseWizard"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor.wizard.new-importDiagram"
            name="既存DSLクラスからダイアグラム生成">
         <description>
            既存のDSL（Javaクラス）からダイアグラム（toadファイル）を生成します。
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.hishidama.eclipse_plugin.toad.editor.ToadEditor"
            contributorClass="jp.hishidama.eclipse_plugin.toad.editor.menu.ToadActionBarContributor"
            default="false"
            filenames="*.btoad"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor"
            name="Asakusa Toad Editor">
      </editor>
      <editor
            class="jp.hishidama.eclipse_plugin.toad.editor.ToadEditor"
            contributorClass="jp.hishidama.eclipse_plugin.toad.editor.menu.ToadActionBarContributor"
            default="false"
            filenames="*.jtoad"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor"
            name="Asakusa Toad Editor">
      </editor>
      <editor
            class="jp.hishidama.eclipse_plugin.toad.editor.ToadEditor"
            contributorClass="jp.hishidama.eclipse_plugin.toad.editor.menu.ToadActionBarContributor"
            default="false"
            filenames="*.ftoad"
            icon="icons/toad.gif"
            id="jp.hishidama.toadEditor"
            name="Asakusa Toad Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="jp.hishidama.toadEditor"
            typeMapper="jp.hishidama.eclipse_plugin.toad.model.property.TaodTypeMapper">
         <propertyCategory
               category="jp.hishidama.toadEditor.propertyTab.category.model"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="jp.hishidama.toadEditor">
         <propertyTab
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.genericTab"
               label="Generic">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.genericTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.dslClassTab"
               label="DSL class">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.dslClassTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.toadFileTab"
               label="Toad file">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.toadFileTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.dataModelTab"
               label="DataModel">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.toadFileTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.portTableTab"
               label="Port">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.portTableTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.parameterTableTab"
               label="Parameter">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.parameterTableTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.attributeTableTab"
               label="Attribute">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.dslClassTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.layoutTab"
               label="Layout">
         </propertyTab>
         <propertyTab
               afterTab="jp.hishidama.toadEditor.layoutTab"
               category="jp.hishidama.toadEditor.propertyTab.category.model"
               id="jp.hishidama.toadEditor.portTab"
               label="Port layout">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="jp.hishidama.toadEditor">
         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.generic.TypeSection"
               id="jp.hishidama.toadEditor.typeSection"
               tab="jp.hishidama.toadEditor.genericTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.AbstractNameModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.typeSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.generic.NameSection"
               id="jp.hishidama.toadEditor.nameSection"
               tab="jp.hishidama.toadEditor.genericTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.property.generic.NameNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.nameSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.generic.DescriptionSection"
               id="jp.hishidama.toadEditor.descriptionSection"
               tab="jp.hishidama.toadEditor.genericTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.AbstractNameModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.descriptionSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.generic.MemoSection"
               id="jp.hishidama.toadEditor.memoSection"
               tab="jp.hishidama.toadEditor.genericTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.AbstractModel">
            </input>
         </propertySection>

         <propertySection
               afterSection="jp.hishidama.toadEditor.memoSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.file.ClassNameSection"
               id="jp.hishidama.toadEditor.classNameSection"
               tab="jp.hishidama.toadEditor.dslClassTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.ClassNameNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.classNameSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.operator.MethodNameSection"
               id="jp.hishidama.toadEditor.methodNameSection"
               tab="jp.hishidama.toadEditor.dslClassTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.operator.OperatorNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.methodNameSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.file.ToadFileSection"
               id="jp.hishidama.toadEditor.toadFileSection"
               tab="jp.hishidama.toadEditor.dslClassTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.ClassNameNode">
            </input>
         </propertySection>

         <propertySection
               afterSection="jp.hishidama.toadEditor.descriptionSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.datamodel.DataModelNameSection"
               id="jp.hishidama.toadEditor.dataModel.nameSection"
               tab="jp.hishidama.toadEditor.dataModelTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.property.datamodel.HasDataModelNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.dataModel.nameSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.datamodel.DataModelDescriptionSection"
               id="jp.hishidama.toadEditor.dataModel.descriptionSection"
               tab="jp.hishidama.toadEditor.dataModelTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.property.datamodel.HasDataModelNode">
            </input>
         </propertySection>

         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.XSection"
               id="jp.hishidama.toadEditor.layout.xSection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.RectangleNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.layout.xSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.YSection"
               id="jp.hishidama.toadEditor.layout.ySection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.RectangleNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.layout.ySection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.CxSection"
               id="jp.hishidama.toadEditor.layout.cxSection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.port.BasePort">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.layout.cxSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.CySection"
               id="jp.hishidama.toadEditor.layout.cySection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.port.BasePort">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.layout.cySection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.WidthSection"
               id="jp.hishidama.toadEditor.layout.widthSection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.RectangleNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="jp.hishidama.toadEditor.layout.widthSection"
               class="jp.hishidama.eclipse_plugin.toad.model.property.layout.HeightSection"
               id="jp.hishidama.toadEditor.layout.heightSection"
               tab="jp.hishidama.toadEditor.layoutTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.RectangleNode">
            </input>
         </propertySection>

         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.operator.PortTableSection"
               id="jp.hishidama.toadEditor.has-port.portTableSection"
               tab="jp.hishidama.toadEditor.portTableTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.property.port.HasPortNode">
            </input>
         </propertySection>
         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.operator.OpeParameterTableSection"
               id="jp.hishidama.toadEditor.has-port.parameterTableSection"
               tab="jp.hishidama.toadEditor.parameterTableTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.operator.OperatorNode">
            </input>
         </propertySection>
         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.frame.FrameParameterTableSection"
               id="jp.hishidama.toadEditor.frame.parameterTableSection"
               tab="jp.hishidama.toadEditor.parameterTableTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.frame.FlowpartFrameNode">
            </input>
         </propertySection>

         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.port.BasePortSection"
               id="jp.hishidama.toadEditor.port.portSection"
               tab="jp.hishidama.toadEditor.portTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.node.port.BasePort">
            </input>
         </propertySection>
         <propertySection
               class="jp.hishidama.eclipse_plugin.toad.model.property.attribute.AttributeTableSection"
               id="jp.hishidama.toadEditor.port.attributeTableSection"
               tab="jp.hishidama.toadEditor.attributeTableTab">
            <input
                  type="jp.hishidama.eclipse_plugin.toad.model.property.attribute.HasAttributeNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.hishidama.toadEditor.command.category"
            name="Asakusa Toad Editor">
      </category>
      <command
            categoryId="jp.hishidama.toadEditor.command.category"
            id="jp.hishidama.toadEditor.command.generateDslClass"
            name="Generate DSL Class">
      </command>
      <command
            categoryId="jp.hishidama.toadEditor.command.category"
            id="jp.hishidama.toadEditor.command.generateBatchDiagram"
            name="Generate Toad Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.toad.editor.handler.GenerateDslClassHandler"
            commandId="jp.hishidama.toadEditor.command.generateDslClass">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.toad.editor.handler.ReverseHandler"
            commandId="jp.hishidama.toadEditor.command.generateBatchDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               label="Asakusa Toad Editor">
            <command
                  commandId="jp.hishidama.toadEditor.command.generateDslClass"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="jp.hishidama.toadEditor.definition.toad">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="jp.hishidama.toadEditor.command.generateBatchDiagram"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="jp.hishidama.toadEditor.definition.class">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="jp.hishidama.toadEditor.definition.toad">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <or>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="btoad">
                  </test>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="jtoad">
                  </test>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="ftoad">
                  </test>
                  </or>
               </adapt>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="jp.hishidama.toadEditor.definition.class">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.jdt.core.ICompilationUnit">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.eclipse_plugin.toad.jdt.hyperlink.OpenToadHyperlinkDetector"
            id="jp.hishidama.toadEditor.hyperlinkDetector.jdt.open-toad"
            name="Open Asakusa Toad diagram"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.hishidama.toadEditor.views.category"
            name="Asakusa Toad Editor">
      </category>
      <view
            category="jp.hishidama.toadEditor.views.category"
            class="jp.hishidama.eclipse_plugin.toad.view.SiblingDataModelView"
            id="jp.hishidama.toadEditor.view.siblingDataModelView"
            name="Sibling DataModel"
            restorable="true">
      </view>
   </extension>
   <extension
         point="jp.hishidama.toadEditor.importerExporterPropertyExtension">
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.DirectioCsvImporterProperty">
      </classpath>
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.DirectioCsvExporterProperty">
      </classpath>
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.WindgateCsvImporterProperty">
      </classpath>
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.WindgateCsvExporterProperty">
      </classpath>
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.WindgateJdbcImporterProperty">
      </classpath>
      <classpath
            class="jp.hishidama.eclipse_plugin.toad.internal.extension.WindgateJdbcExporterProperty">
      </classpath>
   </extension>

</plugin>
